.footerlinks {
    color: #ffffff;
    text-decoration: none !important;
}

.footerlinks:hover {
        color: #ffd800;
}

#footer1 {
    background: #454545;
}

#footer2 {
    background: #2E2E2E;
}
